<div class="site-ctas">
  <a class="cta primary" href="{{ site.slack_url }}" target="_blank" rel="noopener noreferrer">
    <img class="icon" src="/assets/images/logo_slack.svg" alt="Slack"> Join us on Slack!
  </a>
  <a class="cta" href="{{ site.youtube_url }}" target="_blank" rel="noopener noreferrer">
    <img class="icon" src="/assets/images/logo_youtube.svg" alt="YouTube"> Subscribe on YouTube      
  </a>
</div>


<script>
  const toggleBtn = document.getElementById("theme-toggle");
  const root = document.documentElement;
  const storedTheme = localStorage.getItem("theme");

  if (storedTheme) {
    root.setAttribute("data-theme", storedTheme);
  }

  toggleBtn.addEventListener("click", () => {
    const current = root.getAttribute("data-theme");
    const next = current === "dark" ? "light" : "dark";
    root.setAttribute("data-theme", next);
    localStorage.setItem("theme", next);
  });
</script>
