<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-WLTHWSFMRV"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-WLTHWSFMRV');
</script>

<link rel="stylesheet" href="/assets/cta.css">

<!-- Favicon and app icons -->
<link rel="icon" href="/assets/images/sensorimotor_square.png" type="image/png">
<link rel="apple-touch-icon" href="/assets/images/sensorimotor_square.png">
